
.top{
	background-color: #333;
}
.top .top-nav{
	position: relative;
	float: left;
}
.top .top-nav .top-nav-item{
	float: left;
	height: 40px;
	line-height: 40px;
}
.top .sep{
	color:#423b36;
	margin: 0 0.5em;
}
.top .user-info{
	float: right;
	width: 160px;
}
.top .user-info .user-info-item{
	float: left;
	height: 40px;
	line-height: 40px;
}
.top .cart{
	float: right;
	width: 120px;
	height: 40px;
	background: #424242;
	position: relative;
}
.top .cart .cart-box a{
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.top .cart .cart-box .icon-cart{
	font-size: 20px;
	vertical-align: -4px;
}
.top .cart .cart-box{
	position: relative;
	z-index: 1000;
}
.top .cart .cart-content{
	position: absolute;
	top: 40px;
	right: 0;
	width: 300px;
	height: 0;
	z-index: 999;
	background-color:#fff;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
	text-align: center;
	overflow: hidden;
}
.top .cart .cart-content .loader{
	margin-top: 40px;
	display: none;
}
.top .cart .cart-content .empty-cart{
	display: none;
	margin-top: 40px;
	font-size: 12px;
	font-weight: 400;
}
/*loading 图标*/
.loader{
	position: relative;
	width: 4px;
	height: 20px;
	background-color: #ff6700;
	margin: 0 auto;
	animation: loading 0.3s linear 0.3s infinite alternate; 
}
.loader:after,.loader:before{
	position: absolute; 
	top: 0;
	left: 0;
	display: block;
	content: "";
	width: 4px;
	height: 20px;
	background-color: #ff6700;
}
.loader:after{
	margin-left: 10px;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0.3s infinite alternate; 
}
.loader:before{
	margin-left: -10px;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0.3s infinite alternate; 
}
@keyframes loading{
	from{
		opacity: 0.5;
		transform: scale(1,0.5);
	}
	to{
		opacity: 1;
		transform: scale(1,1);
	}
}


.header{
	height: 120px;
	position: relative;
}
.header .logo{
	float: left;
	width: 55px;
	height: 55px;
	margin-top: 22px;
	background: #ff6700;
}
.header .logo a{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../image/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999em;
}
.header .header-nav{
	float: left;
	height: 100px;
	line-height: 100px;
	margin-left: 200px;
	z-index: 999;
}
.header .header-nav .header-nav-item{
	float: left;
	margin-right: 20px;
	height: 100%;
}
.header .header-nav .header-nav-item>a{
	font-size: 16px;
	color: #333;
	display: inline-block;
}
.header .header-nav .header-nav-item a:hover{
	color: #ff6700;
}
.header .header-nav-content{
	position: absolute;
	top: 120px;
	left: 0;
	width: 100%;
	/*height: 200px;*/
	height: 0;
	overflow: hidden;
	background-color: #fff;
	z-index: 1002;
	/*border-top: 1px solid #ccc;*/
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.header .header-nav-content .loader{
	margin-top: 80px;
}
.header .header-nav-content li{
	position: relative;
	float: left;
	width: 200px;
	height: 100%;
	text-align: center;
}
.header .header-nav-content .img-box{
	width: 100%;
	height: 100px;
	margin-top: 30px;
	border-right: 1px solid #ccc;
}
.header .header-nav-content .img-box:last-child{
	border-right: 1px solid #fff;
}
.header .header-nav-content .img-box img{
	width: 150px;
	height: 100px;
}
.header .header-nav-content .product-name{
	font-size: 12px;
	padding-top: 10px;
}
.header .header-nav-content .product-price{
	font-size: 12px;
	color: #ff6700;
	padding-top: 5px;
}
.header .header-nav-content .tag{
	position: absolute;
	top: -1px;
	left: 50%;
	margin-left: -30px;
	display: inline-block;
	width: 60px;
	height: 20px;
	border: 1px solid #ff6700;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	color:#ff6700;
}
.header .search{
	float: right;
	width: 296px;
	height: 50px;
	margin-top: 25px;
	position: relative;
}
.header .search .search-text{
	float: left;
	width: 246px;
	height: 100%;
	border: 1px solid #e0e0e0;
	border-right: none;
	outline: none;
	padding-left: 10px;
	box-sizing: border-box;
}
.header .search .search-btn{
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}
.header .search .search-hot-words{
	position: absolute;
	left: 100px;
	line-height: 50px;
}
.header .search .search-hot-words .search-hot-words-item{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 0 6px;
	color:#757575;
	background: #eeeeee;
}
.header .search .search-keyword-list{
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	width: 246px;
	border: 1px solid #ff6700;
	border-top: none;
	box-sizing: border-box;
	background: #fff;
	z-index: 3;
}
.header .search .search-keyword-list .keyword-item{
	height: 30px;
	line-height: 30px;
}
.header	.search .search-keyword-list .keyword-item a{
	display: block;
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
}
.header .search .search-keyword-list .keyword-item a:hover{
	background: #eee;
}
.header .search .search-keyword-list .keyword-item .keyword{
	color: #333;
}
.header .search .search-keyword-list .keyword-item .num{
	float: right;
	color: #b0b0b0;
}
.header .search .search-text:hover{
	border-color: #999;
}
.header .search .search-text:hover + .search-btn{
	border-color: #999;
}
.header .search .search-btn:hover{
	background: #ff6700;
	border: none;
	color: #fff;
}
.header .search .search-hot-words .search-hot-words-item:hover{
	background: #ff6700;
	color: #fff;
}
.header .search:hover .search-text,
.header .search:hover .search-btn{
	border-color: #999;
}
.header .search .search-text:focus{
	border-color: #ff6700;
}
.header .search .search-text:focus + .search-btn{
	border-color: #ff6700;
}
.header .search .search-text:focus ~ .search-keyword-list{
	z-index: 999;
	display: block;
}
.header .search .search-text:focus ~ .search-hot-words{
	display: none;
}
/*
* 首页共通样式
*/

.col1{
	width: 234px;
	float: left;
}
.col2{
	width: 978px;
	float: left;
	margin-left: 14px;
}
.hd{
	height: 60px;
	line-height: 60px;
}
.hd .title{
	float: left;
	font-size: 20px;
	font-weight: 200px;
	color: #333333;
}
.hd .more{
	float: right;
}

/*
*顶部样式
*/
.header .search .search-keyword-list{
	z-index: 999;
}
.home{
	width: 
}
.home .banner{
	position: relative;
	height: 460px;
	margin-bottom: 14px;
}
.home .banner .cate{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 234px;
	height: 100%;
	padding: 20px 0 30px 0;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
}
.home .banner .cate .cate-item{
	height: 42px;
	line-height: 42px;
	padding: 0 20px 0 30px;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
}
.home .banner .cate .cate-item:hover{
	background: #ff6700;
}
.home .banner .cate .active{
	background: #ff6700;
}
.home .banner .cate .cate-item a{
	color:#fff;
	font-size: 14px;
}
.home .banner .cate .cate-item i{
	float: right;
	color: #b0b0b0;
}
.home .banner .cate-content{
	display: none;
	position: absolute;
	top: 0;
	left: 234px;
	/*max-height: 100%;*/
	height: 100%;
	min-width: 400px;
	background-color: #fff;
	z-index: 999;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}
.home .banner .cate-content li{
	float: left;
	width: 160px;
	height: 75px;
}
.home .banner .cate-content li a{
	display: inline-block;
	width: 100%;
	height: 70px;
	line-height: 70px;
}
.home .banner .cate-content li span{
	font-size: 14px;
	color: rgb(51,51,51);
}
.home .banner .cate-box .cate-content li a:hover{
	color: #ff6700;
}
.home .banner .cate-content li img{
	width: 55px;
	height: 40px;
	vertical-align: middle;
}
.home .banner .carousel{
	height: 100%;
	position: relative;
} 
.home .banner .carousel .carousel-imgs-item{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.home .banner .carousel .arrow{
	z-index: 888;
	width: 40px;
	height: 80px;
	line-height: 80px;
	margin-top: -40px;
	font-size: 30px;
	font-weight: bold;
	color: #eee;
	text-align: center;
	cursor: pointer;
}
.home .banner .carousel .left-arrow{
	position: absolute;
	top: 230px;
	left: 234px;
}
.home .banner .carousel .right-arrow{
	position: absolute;
	top: 230px;
	right:  0;
}
.home .banner .carousel .arrow:hover{
	background: rgba(0,0,0,0.6);
}
.home .banner .carousel .left-arrow{
	left: 234px;
}
.home .banner .carousel .right-arrow{
	right: 0px;
}
.home .banner .carousel .carousel-imgs-item img{
	width: 100%;
	height: 460px;
}
.home .banner .carousel .carousel-btn{
	position: absolute;
	bottom: 24px;
	right: 35px;
	z-index: 888;
}
.home .banner .carousel .carousel-btn li{
	float: left;
	width: 3px;
	padding: 4px;
	border: 3px solid #b5b3ad;
	background: #96938a;
	border-radius: 50%;
	margin-left: 10px;
	cursor: pointer;
}
.home .banner .carousel .carousel-btn li:hover{
	border-color: #979590;
	background: #fcf9f0;
}
.home .hot{
	margin-bottom: 25px;
}
.home .hot .hot-channel{
	height: 170px;
	background: #5f5750;
}
.home .hot .hot-channel .hot-channel-item{
	float: left;
	position: relative;
	width: 78px;
	height: 85px;
	padding-top: 20px;
	box-sizing: border-box;
	text-align: center;
}
.home .hot .hot-channel .hot-channel-item i{
	display: block;
	font-size: 26px;
	margin-bottom: 7px;
}
.home .hot .hot-channel .right-line:after{
	display: block;
	position: absolute;
	top: 5px;
	left: 78px;
	content: "";
	width: 1px;
	height: 70px;
	background: #bbb;
	opacity: 0.2;
}
.home .hot .hot-channel .top-line:before{
	display: block;
	position: absolute;
	top: 0px;
	left: 8px;
	content: "";
	width: 65px;
	height: 1px;
	background: #bbb;
	opacity: 0.2;
}
.home .hot .hot-promo .hot-promo-item{
	float: left;
	margin-left: 15PX;
	width: 316px;
	height: 170px;
	transition: box-shadow 0.3s;
}
.home .hot .hot-promo .hot-promo-item:hover{
	box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.home .hot .hot-promo .hot-promo-item:nth-child(1){
	margin-left: 0;
}
.home .hot .hot-promo .hot-promo-item-img{
	height: 100%;
}
.flash .hd .more{
	margin-top: 24px;
}
.flash .hd .more .ctr-btn{
	float: left;
	width: 36px;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	text-align: center;
}
.flash .hd .more .ctr-btn:hover{
	color: #ff6700;
}
.flash .hd .more .ctr-btn-right{
	border-left: none;
}
.flash .timer{
	height: 340px;
	background: #f1eded;
	text-align: center;
	border-top: 1px solid #e53935;
	box-sizing: border-box;
}
.flash .timer .timer-name{
	padding-top: 60px;
	font-size: 20px;
	color: #ef3a3b;
}
.flash .timer img{
	padding-top: 33px;
	height: 52px;
}
.flash .timer .timer-desc{
	padding-top: 33px;
	padding-bottom: 33px;
	font-size: 12px;
	color: #706f6f;
}
.flash .timer .timer-box .timer-num{
	display: inline-block;
	width: 46px;
	height: 46px;
	line-height: 46px;
	background: #605751;
	font-size: 20px;
	color: #fff;
}
.flash .timer .timer-box .dash{
	display: inline-block;
	width: 10px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 20px;
	color: #605751;
}
.flash .product-item{
	height: 340px;
}
.flash .bd .col2{
	height: 340px;
	position: relative;
	overflow: hidden;
}
.flash .bd .col2 .product-list{
	width: 2000px;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.3s;
}
 .product-item{
	float: left;
	width: 234px;
	background: #fff;
	margin-left: 14px;
	position: relative;
	overflow: hidden;
}
.flog{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -32px;
	width: 64px;
	height: 20px;
	color: #fff;
	font-size: 14px;
}
.new-flog{
	background: #83c44e;
}
.off-flog{
	background: #e53935;
}
.product-item-m{
	height: 300px;
	margin-bottom: 14px;
	transition: box-shadow 0.3s linear,transform 0.3s linear;
}
.product-item-m:hover{
	box-shadow: 0 5px 30px rgba(0,0,0,0.3);
	transform:translateY(-2px);
}
 .product-item:first-child{
	margin-left: 0;
}
.product-item:nth-child(5){
	margin-left: 0;
}
.flash .product-item .bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	z-index: 9999;
}
.col2 .product-list{
	text-align: center;
}
.flash .product-item:nth-child(1){
	border-top: 1px solid #ffac13;
}
.flash .product-item:nth-child(2){
	border-top: 1px solid #83c44e;
}
.flash .product-item:nth-child(3){
	border-top: 1px solid #2196f3;
}
.flash .product-item:nth-child(4){
	border-top: 1px solid #e53935;
}
.flash .product-item:nth-child(5){
	border-top: 1px solid pink;
}
.flash .product-item:nth-child(6){
	border-top: 1px solid purple;
}
.flash .product-item:nth-child(7){
	border-top: 1px solid tomato;
}
.flash .product-item:nth-child(8){
	border-top: 1px solid gray;
}
.product-img{
	border-top:1px solid #black;
	padding-top: 49px;
	width: 115px;
	height: 144px;
}
 .product-name{
	padding-top: 22px;
	font-size: 14px;
	color: #202020;
}
 .product-desc{
	padding-top: 10px;
	font-size: 12px;
	color: #adadb0;
}
 .product-price{
	padding-top: 18px;
}
 .product-price strong{
	font-size: 12px;
	color: #fa7363;
}
 .product-price span{
	font-size: 12px;
	color: #fa7363;
}
 .product-price del{
	font-size: 12px;
	color: #b0b0b0;
}
.ad .ad-img{
	padding-top: 40px;
	width: 1226px;
	height: 119px;
	padding-bottom: 40px;
}
.main{
	padding-bottom: 60px;
	background-color: #f5f5f5;
}
.main .container .hd .more .more-hd{
	color:black;
	font-size: 16px;
}
.main .container .hd .more i{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: #b0b0b0;
	color: #fff;
	border-radius: 50%;
}
.main .container .hd .more .more-hd:hover{
	color: #ff6700;
}
.main .container .hd .more .more-hd:hover i{
	background:  #ff6700;
}
.main .phone .col1{
	height: 615px;
	transition: box-shadow 0.3s linear,transform 0.3s linear;
}
.main .phone .col1:hover{
	box-shadow: 0 5px 30px rgba(0,0,0,0.3);
	transform:translateY(-2px);
}
.main .phone .col1 img{
	width: 100%;
	height: 100%;
}
.main .phone .col2{
	height: 615px;
}
.main .phone .col2 ul .product-item{
	width: 234px;
	height: 303px;
}
.main .phone .col2 .product-img{
	padding-top: 14px;
	text-align: center;
}
.hd .more-tab{
	margin-top: 30px;
}
.hd .more-tab .tab-item{
	float: left;
	height: 20px;
	line-height: 2px;
	margin-left: 30px;
	font-size: 16px;
	cursor: pointer;
}
/*.hd .more-tab .tab-item:hover,*/
.hd .more-tab .tab-item-active{
	margin-top: 2px;
	color: #ff6700;
	border-bottom: 1px solid #ff6700;
}
.product-item-z{
	margin-left: 0;
}
.main .bd .col1 img{
	width: 100%;
	height: 100%;
}
.main .bd .col2 .product-img{
	padding-top: 14px;
}
.product-item-s{
	margin-bottom: 14px;
	height: 143px;
	background: #fff;
}
.product-item-s .product-img{
	position: absolute;
	top: 20px;
	right: 35px;
	width: 80px;
	height: 80px;
}

.product-item-s .product-name{
	position: absolute;
	top: 20px;
	left: 30px;
}
.product-item-s .product-name{
	position: absolute;
	top: 25px;
	left: 30px;
}
.product-item-s .product-price{
	position: absolute;
	top: 50px;
	left: 30px;
}
.product-item-s a i{
	position: absolute;
	top: 47px;
	right: 35px;
	font-size: 50px;
	color: #ff6700;
}
.product-item-s .product-liu{
	position: absolute;
	top: 50px;
	left: 30px;
	font-size: 18px;
}
.product-item-s .product-re{
	position: absolute;
	top: 75px;
	left: 30px;
	font-size: 10px;
	color: #7d757d;
}
.product-item-m:hover .view{
	height: 80px;
}
.product-item-m .view{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background: #ff6700;
	transition: height 1s;
}
.product-item-m .view .recommend{
	padding: 10px 30px 0;
	height: 40px;
	line-height: 20px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	color: #fff
}

.product-item-m .view .author{
	padding: 10px 30px 0;
	text-align: left;
	font-size: 12px;
	color: #ccc;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.main .video ul li:nth-child(1){
	margin-left: 0;
}
.main .video ul li{
	float: left;
	margin-left: 14px;
	width: 295px;
	height: 287px;
	background: #fff;
} 
.video-hd{
	text-align: center;	
}
.video-item{
	transition: box-shadow 0.3s linear,transform 0.3s linear;
}
.video-item:hover{
	box-shadow: 0 5px 30px rgba(0,0,0,0.3);
	transform:translateY(-2px);
}
.video-item img{
	width: 100%;
	height: 180px;
	margin-bottom: 32px;
}
.video .video-item a{
	position: relative;
	text-align: center;
}
.video .video-item a:hover i{
	background: #ff6700;
	color: #fff;
	border-color: #ff6700;
}
.video-item i{
	width: 36px;
	height: 24px;
	line-height: 24px;
	font-size: 30px;
	border:1px solid #fff;
	position: absolute;
	left: 20px;
	bottom: 45px;
	color: #fff;
	border-radius: 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
}
.video-item h3{
	font-size: 14px;
	color: #333333;
	margin-bottom: 3px;
}
.video-item span{
	font-size: 10px;
	color: #b0b0c1;
	margin-top: 36px;
}
.footer{
	background-color: #fff;
}
.footer .service{
	padding: 32px 0px;
	border-bottom: 1px solid #e0e0e0;
}
.footer .service-item{
	float: left;
	width: 20%;
	height: 24px;
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
	padding-left: 58px;
}
.footer .service-item:last-child{
	border-right: none;
}
.footer .service-item a{
	font-size: 16px;
	color: #616161;
}
.footer .service-item a:hover{
	color: #ff6700;
}
.footer .service-item a i{
	font-size: 20px;
	vertical-align: -2px;
}
.footer .links-item{
	float: left;
	padding: 40px 0px 43px;
	box-sizing: border-box;
	padding-right: 100px;
}
.footer .links-item dt{
	font-size: 14px;
	color: #424247;
	padding-bottom: 30px;
}
.footer .links-item dt:nth-child(5){
	border-right: 1px solid #e0e0e0;
}
.footer .links-item dd{
	font-size: 10px;
	color: #757575;
	padding-bottom: 17px;
}
.footer .links-item dd:last-child{
	padding-bottom: 0;
}
.footer .links-item dd a:hover{
	color: #ff6700;
}
.footer .links-contact{
	width: 246px;
	height: 112px;
	margin-left: 10px;
	margin-top: 43px;
	text-align: center;
	float: right;
	box-sizing: border-box;
	border-left: 1px solid #e0e0e0;
}
.footer .links-contact .phone{
	font-size: 20px;
	color: #ff6700;
	padding-bottom: 8px;
	font-weight: bold;
}
.footer .links-contact .work-time{
	font-size: 12px;
	color: #7e7e7e;
	padding-bottom: 5px;
	
}
.footer .links-contact .work-des{
	font-size: 12px;
	color: #7e7e7e;
	padding-bottom: 19px;
}
.footer .links-contact a{
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border:1px solid #ff6700;
	font-size: 12px;
	color: #ff6700;

}
.footer .links-contact a:hover{
	color: #fff;
	background: #ff6700;
}
.footer .links-contact a i{
	padding-right: 3px;
}
.end{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f5f5f5;
}
.end .info .logo{
	float: left;
	width: 57px;
	height: 57px;
	background: #ff6700;
	background-image: url(../image/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 10px;
}
.end .info .sites{
	float: left;
	font-size: 10px;
}
.end .info .sites a:hover{
	color: #ff6700;
}
.end .info .sites .nav-link a:hover{
	color: #ff6700;
}
.end .info .sites .nav-link a{
	color: #757575;
}
.end .info .sites .nav-link span{
	color: #c0b0b0;
}
.end .info .icp{
	color: #c2c2c0;
	padding-top: 2px;
}
.end .info .decare{
	color: #b9b9b9;
	padding-top: 2px;
}
.end .info .link{
	float: right;
}
.end .info .link img{
	width: 82px;
	height: 27px;
}
.end .slogan{
	float: left;
	padding-top: 35px;
	padding-left: 482px;
	height: 20px;
}
.lateral-item-m{
	position: fixed;
	bottom: 447px;
	right:0;
	width: 80px;
	height: 85px;
	border:1px solid #f5f5f5;
	text-align: center;
	background:#fff;
}
.lateral-item-m a{
	display: inline-block;
	padding-top: 18px;
	color: #757575;
}
.lateral-item-m a i{

	font-size: 28px;
}
.lateral-item-m a p{
	font-size: 14px;
	padding-top: 5px;
}
.lateral-item-m:nth-child(2){
	position: fixed;
	right: 0;
	bottom:362px; 
}
.lateral-item-m:nth-child(3){
	position: fixed;
	right: 0;
	bottom:277px; 
}
.lateral-item-m:nth-child(4){
	position: fixed;
	right: 0;
	bottom:192px; 
}
.lateral-item-m a:hover{
	color: #ff6700;
}
.lateral-nav{
	position: fixed;
	right: 0;
	bottom:90px; 
	width: 80px;
	height: 85px;
	border:1px solid #f5f5f5;
	text-align: center;
	background:#fff;
	display: none;
}
.lateral-nav a{
	display: inline-block;
	padding-top: 18px;
	color: #757575;
}
.lateral-nav a i{

	font-size: 28px;
}
.lateral-nav a p{
	font-size: 14px;
	padding-top: 5px;
}
.lateral-nav a:hover{
	color: #ff6700;
}