/*
* @Author: TomChen
* @Date:   2018-11-15 20:47:21
* @Last Modified by:   TomChen
* @Last Modified time: 2018-11-15 20:47:50
*/
*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
	height: 0px;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
.head{
	width: 1583px;
	background: #323232;
}
.head1{
	width: 1226px;
	height: 40px;
	background: #323232;
	margin: 0 auto;
}
.head1-left{
	width: 580px;
	height: 40px;
	float: left;
	/*position: relative;*/
	left: 70px;
}
.head1-left>a{
	text-decoration: none;
	font-size: 12px;
	line-height: 40px;
	color: #b0b1b0;
}
.head1-left>span{
	font-size: 12px;
	color: #b0b1b0;
	margin-left: 8px;
}
.head1-right{
	width: 275px;
	height: 40px;
	float: right;
	position: relative;
}
.head1-right>a{
	font-size: 12px;
	color: #b0b1b0;
	text-decoration: none;
	line-height: 40px;
}
.head1-right>span{
	font-size: 12px;
	color: #b0b1b0;
	margin-left: 8px;
}
.head1-right-box{
	width: 121px;
	height: 40px;
	background: #424242;
	position: relative;
	float: right;
}
.head1-right-box a{
	display: inline-block;
	width: 100%;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
}
.head1-right-box i{
	color: #8f8f8f;
}
.icont-cart{
	font-size: 20px;
	vertical-align: -2px;
}
.head1-right-box span{
	color: #8f8f8f;
}
.head1-right-box:hover a{
	background: white;
}
.head1-right-box:hover a i,
.head1-right-box:hover a span{
	color:#ff6700;
}
.head1-left a:hover{
	color: white;
}
.head1-right a:hover{
	color: white;
}
.head2{
	width: 1226px;
	height: 50px;
	margin: 20px auto;
	box-sizing: border-box;
	position: relative;
}
.head2-left-box{
	width: 50px;
	height: 50px;
	background:#ff6700;
	font-size: 20px;
	float: left;
}
.head2-left-box img{
	z-index: 999;
}
.head2-center{
	width: 745px;
	height: 50px;
	float: right;
	margin-right: 73px;
}
.head2-center a{
	text-decoration: none;
	color: black;
	font-size: 15px;
	margin-left: 17px;
	line-height: 50px;
}
.head2-center a:hover{
	color: #ff6700;
}
.head2-right{
	width: 296px;
	height: 50px;
	float: right;
}
.head2-right input{
	border: 1px solid #7f7f7f;
	box-sizing: border-box;
}
.head2-right .i1{
	width: 245px;
	height: 45px;
}
.head2-right .s1{
	font-size: 5px;
	background: #eeeeee;
	padding:0 5px;
	position: relative;
	top: 0;
	right: 125px;
	cursor: pointer;
}
.head2-right .s2{
	font-size: 5px;
	background: #eeeeee;
	padding:0 5px;
	position: relative;
	top: -34px;
	right: -171px;
	cursor: pointer;
}
.head2-right div{
	width: 48px;
	height: 45px;
	float: right;
	position: relative;
	top: -45px;
	right: 4px;
	border: 1px solid #7f7f7f;
	box-sizing: border-box;
	padding: 5px 0px 0px 6px;
}
.head2-right div i{
	width: 48px;
	height: 45px;
	font-size: 30px;
	cursor: pointer;
	color: #919191;
}
.head2-right div:hover{
	background: #ff6700;
}
.head2-right div:hover i{
	color: white;
}
.head2-right input:hover{
	border: 1px solid #ff6700;
}
.head2-right input:hover + .head2-right div{
	border: 1px solid #ff6700;
}
.head2-right span:hover{
	background: #ff6700;
}



.bigphone{
	width: 1583px;
	height: 620px;
}

.bigphone img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}


.phone{
	width: 1226px;
	height: 4540px;
	margin: 0 auto;
}
.phone h2{
	font-size: 25px;
	margin: 12px 0px 12px 0px;
}
.phone .box{
	width: 1226px;
	height: 400px;
	transition:box-shadow 0.2s;
	transition: 0.3s;
}
.phone .box:hover{
	box-shadow:3px 3px 3px #D0CBCB;
	transform: translateY(-8px);
}
.phone .box .box1-left{
	width: 854px;
	height: 400px;
	background: blue;
	float: left;
}
.phone .box .box1-left img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.phone .box .box1-right{
	width: 372px;
	height: 400px;
	float: right;
}
.phone .box .box1-right span{
	display: block;
}
.phone .box .box1-right .s1{
	font-size: 30px;
	color: #646476;
	padding-top: 95px;
	padding-left: 60px;
	cursor: pointer;
}
.phone .box .box1-right .s2{
	font-size: 15px;
	padding-left: 60px;
	color: #a6a6a6;
}
.phone .box .box1-right .s3{
	font-size: 30px;
	color: #ff7824;
	padding-top: 50px;
	padding-left: 60px;
}
.phone .box .box1-right .s4{
	font-size: 15px;
	color: #ff7824;
	position: relative;
	top: -25px;
	left: 130px;
}
.phone .box .box1-right .s5{
	font-size: 15px;
	color: #c0bab5;
	padding-top: 20px;
	padding-left: 60px;
	cursor: pointer;
}
.phone ul li{
	width: 600px;
	height: 470px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
.phone ul li div{
	transition:box-shadow 0.2s;
	transition: 0.3s;
}
.phone ul li div:hover{
	box-shadow:3px 3px 3px #D0CBCB;
	transform: translateY(-10px);
}

.phone ul li div{
	width: 600px;
	height: 355px;
}
.phone ul li div img{
	width: 100%;
	height: 355px;
	cursor: pointer;
}
.phone ul li div .s1{
	font-size: 25px;
	color: #515151;
	cursor: pointer;
	position: relative;
	top: 10px;
	left: 55px;
}
.phone ul li div .s2{
	font-size: 10px;
	color: #93989c;
	position: relative;
	left: 55px;
}
.phone ul li div .s3{
	font-size: 30px;
	color: #ff6700;
	position: relative;
	left: 200px;
}
.phone ul li div .s4{
	font-size: 10px;
	color: #ff6700;
	position: relative;
	left: 200px;
}
.phone ul li div .s5{
	font-size: 10px;
	color: #93989c;
	position: relative;
	left: 200px;
	text-decoration: line-through;
}
.phone ul li:nth-child(5) .span1{
	font-size: 25px;
	position: relative;
	top: 105px;
}
.phone ul li:nth-child(7){
	margin-top: 60px;
}
.phone ul li:nth-child(8){
	margin-top: 60px;
}
.phone ul li:nth-child(11) .span1{
	font-size: 25px;
	position: relative;
	top: 105px;
}
.phone ul li:nth-child(13){
	margin-top: 60px;
}
.phone ul li:nth-child(14){
	margin-top: 60px;
}