body{
	min-width: 1349px;
}
/*顶部begin*/
.top{
	height: 40px;
	line-height: 40px;
	background: #333333;
}
.top ul{
	width: 1236px;
	margin:0 auto;
}
.top ul li{
	float: left;
}
.top ul li a{
	color: #b0b0b0;
	text-decoration: none;
	font-size: 12px;
	font-weight: bolder;
}
.top ul li a:hover{
	color: white;
}
.top span{
	color: #3b4042;
	margin:0px 9px;
	font-size: 12px;
}
/*顶部end*/
/*头部begin*/
.header{
	height: 88px;
	background: #ffffff;
}
.header .nav{
	width: 1236px;
	height: 88px;
	line-height: 88px;
	margin:0 auto;
}
.header .nav-left{
	height: 88px;
	width: 208px;
	float: left;
	margin-left: -332px;
}
.header .nav-left img{
	width: 40px;
	height: 40px;
	background: #ff6b02;
	float: left;
	margin-top: 24px;
	margin-right: 5px;
	border-radius: 3px;
}
.header .nav-left h1{
	float: left;
	font-size: 26px;
}
.header .nav-right{
	width: 460px;
	height: 100%;
	float: right;
}
.header .nav-right li{
	float: left;
	margin-right: 44px;
}
.header .nav-right li:last-child{
	margin-right: 0px;
}
.header .nav-right li a{
	font-size: 14px;
	color: #5e5e5e;
	text-decoration: none;
}
.header .nav-right li a:hover{
	color: #ff6b02;
}
/*头部end*/
/*热卖begin*/
.hot{
	height: 500px;
	background: blue;
	overflow: hidden;
	position: relative;
}
.hot .lunbo{
	width: 5400px;
	height: 500px;
	margin:0 auto;
	margin-left: 0px;
	animation: sport 5s linear infinite;
}
.hot .lunbo li{
	width: 1350px;
	height: 500px;
	float: left;
	list-style: none;
}
/*@keyframes sport{
	from{
		margin-left: 0px;
	}
	to{
		margin-left: -4050px;
	}
}*/

.hot .lunbo li span{
	width: 36px;
	height: 8px;
	display: inline-block;
	background: #716d6b;
	position: absolute;
	top: 0px;
	list-style: 0px;
}
.hot .lunbo li:nth-child(1) span{
	position: absolute;
	top: 476px;
	left: 616px;
	background: white;
}
.hot .lunbo li:nth-child(2) span{
	position: absolute;
	top: 476px;
	left: 660px;
}
.hot .lunbo li:nth-child(3) span{
	position: absolute;
	top: 476px;
	left: 700px;
}
/*热卖end*/
/*主要begin*/
.main{
	height: 2568px;
	background: orange;
}
/*主要end*/
/*底部begin*/
.footer{
	height: 450px;
	background: green;
}
/*底部end*/